hol.state
strings.sml
genstrings.exe
genstrings.o
trace_checker.exe
CheckTraces.exe
GroundTraces.exe
.itc-info
CheckTraces.o
*.imn
traces
*.tmp2-tex
*.idx
*.ilg
*.ind
*.log
*.pdf
*.ps
*.toc
*.aux
*.dvi
*.tex-e
*.tob
