\documentclass[10pt]{article}

\usepackage{ltsmunge}
%\usepackage{udpstuff}

\usepackage[a2paper]{geometry}

\makeatletter
\newcommand{\ps@idstyle}{%
  \def\@evenhead{\thepage\hfil\slshape\rightmark}%
  \def\@oddhead{{\slshape\leftmark}\hfil\thepage}%
  \def\@evenfoot{\hfil\slshape\footnotesize Rule version: \rulesrcsid\hfil}%
  \let\@oddfoot\@evenfoot
}
\makeatother

\pagestyle{idstyle}

\newcommand{\mignore}[1]{}
