*.cma
*.cmi
*.cmo
*.cmx
*.cmxa

*.o
*.a
*.so

.depend
.dependc

common/lexer.ml
common/parser.ml
common/parser.mli
identtest/fileinject
identtest/injectslurp
identtest/lexer.ml
identtest/parser.ml
identtest/parser.mli
identtest/pcapslurp
identtest/slurpinject
injector/injector
libd/libd
mirror/mirror
ocamlext/parser_hack_script
slurp/slurp
tests/autotest/autotest

